/* 1111 - 1067 = 44px = 1cm */
.bordered {
  border: solid 1px;
}
.bordered .page-header {
  border-bottom: solid 1px;
}
.bordered .page-footer {
  border-top: solid 1px;
}
.only-first-message-header .message-sender {
  display: none;
}
.only-first-message-header:first-child .message-sender {
  display: inline;
}
.indented:nth-child(even) {
  padding-left: 20px;
}
.serif {
  font-family: Georgia, Times, serif;
}
.sans-serif {
  font-family: Helvetica, Calibri, sans-serif;
}
.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.separator-hyphen .message-sender::after {
  content: " - ";
}
.separator-dot .message-sender::after {
  content: ". ";
}
.state-printing .container {
  display: none;
}
.state-printing .print-area {
  display: block;
}
.page-header {
  border-bottom: none 0;
}
.message {
  color: #000;
  font-size: 9pt;
  margin-top: 14px;
  page-break-inside: avoid;
}
.message .message-sender {
  margin-right: 5px;
}
.message .message-sender {
  font-weight: bold;
  font-family: Helvetica, Calibri, sans-serif;
}
.message .message-text {
  font-family: Georgia, Times, serif;
  white-space: pre-line;
}
.page {
  font-family: Georgia, Times, serif;
  height: 1067px;
  page-break-before: always;
  position: relative;
  width: 675px;
}
.page .page-header,
.page .page-content,
.page .page-footer {
  left: 0;
  position: absolute;
  right: 0;
}
.page .page-header,
.page .page-footer {
  font-size: 10pt;
  height: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.page .page-header {
  top: 0;
}
.page .page-content {
  bottom: 18px;
  overflow: hidden;
  padding: 20px 0;
  top: 18px;
}
.page .page-content .message:first-child {
  margin-top: 0;
}
.page .page-footer {
  bottom: 0;
}
.page:first-child {
  page-break-before: avoid;
}
.page.title-page .page-header,
.page.title-page .page-footer {
  display: none;
}
.page.title-page .page-content {
  border: none 0;
  bottom: auto;
  margin-top: 33%;
  text-align: center;
  top: auto;
}
.page.title-page .page-content h1 {
  font-size: 16pt;
}
.page.title-page .page-content .lead {
  font-size: 12pt;
  font-style: italic;
}
.print-area {
  display: none;
}
@media print {
  .container {
    display: none;
  }
  .print-area {
    display: block;
  }
}
