@pageHeight: 980px;
@pageWidth: 675px; /* 601px */

.ms-only-first-message-header {
  .message-sender { display: none; }
  &:first-child .message-sender { display: inline; }
}

.ms-indented {
  &:nth-child(even) {
    padding-left: 20px;
  }
}

.serif { font-family: Cambria, serif; }
.sans-serif { font-family: Calibri, sans-serif; }

.state-printing {
  .serif;

  .container { display: none; }

  .print-area {
    display: block;

    .page {
      border: none 0;
      margin: 0;

      .page-content {
        border: none 0;

        .message {
          .ms-indented;
          .ms-only-first-message-header;
        }
      }
    }
  }
}

.message {
  color: #444;
  margin-top: 14px;
  page-break-inside: avoid;

  .message-sender {
    color: #666;
    font-size: 9pt;
    font-style: italic;
  }

  .message-text {
    color: #000;
    font-size: 9pt;
    white-space: pre-line;
  }
}

.page {
  border: solid 1px red;
  counter-increment: page;
  height: @pageHeight;
  margin-bottom: 30px;
  page-break-before: always;
  position: relative;
  width: @pageWidth;

  .page-header, .page-content, .page-footer {
    left: 0;
    position: absolute;
    right: 0;
  }

  .page-header, .page-footer {
    border: none 0;
    font-size: 10pt;
    height: 30px;
    margin: 0;
    padding : 0;
    text-align: center;
  }

  .page-header { top: 0; }

  .page-content {
    border-bottom: solid 1px red;
    border-top: solid 1px red;
    bottom: 30px;
    top: 30px;
    overflow: hidden;

    .message:first-child {
      margin-top: 0;
    }
  }

  .page-footer { bottom: 0; }

  &:first-child {
    page-break-before: avoid;
  }

  &.title-page {
    .page-header, .page-footer {
      display: none;
    }

    .page-content {
      border: none 0;
      margin: 50% auto;
      text-align: center;

      h1 { font-size: 16pt; }

      .lead {
        font-size: 12pt;
        font-style: italic;
      }
    }
  }
}

.print-area { display: none; }

@media print {
  .state-printing;
}
